:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--Stone-900);
}

main {
  background-color: var(--White);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h2,
h3 {
  color: var(--Rose-800);
}

p {
  font-family: "Outfit", sans-serif;
  color: var(--Stone-900);
}

header.banner-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

.banner-container > img {
  width: 100%;
}

main > h1 {
  margin-bottom: 20px;
  width: 100%;
}

main > p {
  /* width: 90%; */
  font-size: 0.9rem;
  word-spacing: 0.1rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.section-title {
  color: var(--Brown-800);
  font-weight: 400;
}

.preparation-section {
  background-color: var(--Rose-50);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 28px;
}

.preparation-section h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.preparation {
  padding: 20px;
  list-style-position: inside;
}

li,
ol {
  font-family: "Outfit", sans-serif;
}

.ingredients-section,
.instructions-section {
  border-bottom: 1px solid var(--Stone-150);
  margin-bottom: 30px;
}

.ingredients {
  padding: 10px 0 20px 0;
  list-style: none;
}

.ingredients li {
  position: relative;
  line-height: 1.2;
  width: 85%;
  margin: 10px 0 0 30px;
}

.ingredients li::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--Brown-800);
  left: -25px;
  top: 50%;
}
.ingredients-section li,
.instructions-section li {
  font-family: "Outfit", sans-serif;
}

.instructions {
  padding: 10px 0 20px 0;
  list-style: none;
  counter-reset: li;
}

.instructions li {
  margin: 10px 0 0 35px;
  position: relative;
}

.instructions li::before {
  content: counter(li) ".";
  counter-increment: li;
  color: var(--Brown-800);
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  left: -25px;
}

@media screen and (min-width: 768px) {
}
